---
title: Startup Checklists
meta:
  description: Some meta description
stylesheets:
  - ../css/index.css
  - ../css/pages/index.css
checklists:
  -
    id: startup-landing-page
    title: Startup&nbsp;Landing&nbsp;Page Checklist
    description:
      A comprehensive checklist of design, SEO and tech advices on building a converting and optimized landing page.
  -
    id: zero-budget-marketing
    title: Zero&nbsp;Budget Marketing Checklist
    description:
      A comprehensive checklist of design, SEO and tech advices on building a converting and optimized landing page.
      This card contains more text that the previous one.
  -
    id: product-hunt-launch
    title: Product&nbsp;Hunt Launch Checklist
    description:
      A comprehensive checklist of design, SEO and tech advices on building a converting and optimized landing page.
      This card contains more text that the previous one.
  -
    id: saas-building
    title: SaaS&nbsp;Building Checklist
    description:
      A comprehensive checklist of design, SEO and tech advices on building a converting and optimized landing page.
      This card contains more text that the previous one.
---
{{#extend "layout-no-footer"}}
  {{#content "main"}}
    <h1>Startup Checklists</h1>

    <div class="description">
      <p>
        We want your startup to shine. That is why we prepraed this comprehensive crowdsourced checklists.
      </p>
      <p>
        Dilligently check each item to make your startup more solid and confident.
      </p>
    </div>

    <div class="checklists">
      {{#each checklists}}
        <section class="checklist checklist_name_{{this.id}}">
          <header class="checklist__header">
            <img src="../icons/{{this.id}}.svg" height="35px" class="checklist__icon">
            <h2 class="checklist__heading">{{{this.title}}}</h2>
          </header>
          <p>{{this.description}}</p>
          <a href="/checklists/{{this.id}}/index.hbs" class="checklist__link">See checklist</a>
        </section>
      {{/each}}
    </div>
  {{/content}}
{{/extend}}
