{{#each items}}
  <article class="checklist-item">
    <header>
      <h3 class="checklist-item__heading">
        <input type="checkbox" id="item-{{@index}}" class="checklist-item__checkbox">
        <label for="item-{{@index}}">{{this.title}}</label>
      </h3>
    </header>
    <p class="checklist-item__content">
      {{{this.content}}}
      {{#if this.more}}
        <button type="button" data-target-id="more-{{@index}}" class="checklist-item__read-more">Read more</button>
      {{/if}}
    </p>
    {{#if this.more}}
      <p data-id="more-{{@index}}" class="checklist-item__content">{{this.more}}</p>
    {{/if}}
    <footer class="checklist-item__footer">
      <address class="author">
        {{#with (lookup ../authors this.author)}}
          <p class="author__name">{{name}}</p>
          <p class="author__description">{{position}} @ <a href="{{link}}">{{company}}</a></p>
          <img src="{{photo}}" alt="" class="author__image">
        {{/with}}
      </address>
    </footer>
  </article>
{{/each}}
