{{#each checklists}}
  <link href="../css/partials/checklist.css" rel="stylesheet" />
  <section class="checklist checklist_name_{{this.name}}">
      <header class="checklist__header">
        <img src="../icons/{{this.name}}.svg" height="35px">
        <h2 class="checklist__heading">{{this.title}}</h2>
      </header>
      <p>{{this.description}}</p>
      <a href="/checklists/{{this.name}}" class="checklist__link">See checklist</a>
  </section>
{{/each}}
