{{#with subscribe}}
<section class="subscribe-container">
    <header>
      <div class="subscribe-container__heading-container">
        <p class="subscribe-container__heading-message">
          {{this.subtitle}}
        </p>
        <img src="../../../icons/invalid-name.svg" height="16" width="34" alt=""
             class="subscribe-container__heading-icon">
      </div>
      <h2 class="subscribe-container__heading">
        {{this.title}}
      </h2>
    </header>
    <main>
      {{#if this.checklists}}
        <div class="subscribe-container__checklists-container checklists-container">
          {{#each checklists}}
            {{#if this.checked}}
              <div class="checklists-container__item checklists-container__{{this.id}}">
                <div class="checklists-container__checkbox"></div>
                <img src="../../../icons/line.svg" height="26" width="16" alt=""
                     class="checklists-container__checkbox-icon">
                <input type="checkbox" id="checklist-{{@index}}" class="checklists-container__checkbox-hidden" checked>
                <img src="../../../icons/{{this.id}}.svg" height="15" width="15" alt=""
                   class="checklists-container__icon">
                <label class="checklists-container__title" for="checklist-{{@index}}">{{this.title}}</label>
              </div>
            {{/if}}
            {{#unless this.checked}}
              <div class="checklists-container__item checklists-container__{{this.id}}">
                <div class="checklists-container__checkbox"></div>
                <input type="checkbox" id="checklist-{{@index}}" class="checklists-container__checkbox-hidden">
                <img src="../../../icons/{{this.id}}.svg" height="15" width="15" alt=""
                     class="checklists-container__icon">
                <label class="checklists-container__title" for="checklist-{{@index}}">{{this.title}}</label>
              </div>
            {{/unless}}
          {{/each}}
        </div>
      {{/if}}

      {{#each content}}
        <p class="subscribe-container__content" id="paragraph-{{@index}}">
          {{this.paragraph}}
        </p>
      {{/each}}
      <div class="subscribe-container__email-form email-form">
        <label for="email" class="email-form__label">Your email</label>
        <input type="email" id="email" class="email-form__input">
        <a class="email-form__subscribe-button">Subscribe</a>
      </div>
    </main>
    <footer>
      {{#each agreements}}
        <p class="subscribe-container__agreement" id="">
          {{{this.agreement}}}
        </p>
      {{/each}}
    </footer>
  </section>
{{/with}}
